<div class="container">
  <h2>Your conversation with <%= link_to @conversation.recipient.profile.name.split.map(&:capitalize).join(' '), profile_path(@conversation.recipient.profile.id) %></h2>
  <div class="jumbotron mssg border-rad">
  <div class="mb-3">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div>
        <div>
          <div>
            <strong><%= user.profile.name.split.map(&:capitalize).join(' ') %></strong>     <%= message.message_time %>
          </div>
          <div>
            <div>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>

  <%= form_for [@conversation, @message] do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control border-rad" %>
  </div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <div class="mt-3">
    <%= f.submit "Send", class: "btn" %>
  </div>
  <% end %>
  </div>
  <%= link_to 'Back to conversations', conversations_path, class: "btn border-rad" %>
</div>

