<div class="container d-flex flex-column flex-md-row-reverse px-2 my-2 my-md-5">
  <div class="content col-12 col-md-7 col-lg-8 p-0 pr-md-3"> 
    <div class="col-12 p-0 main-preview mb-4">
       <%= image_tag "placeholder_profile", alt: "placeholder profile image", class: "thumbnail card-img top" %>
    </div>
  </div>
  <div class="sidebar col-lg-4 p-0 mx-2 d-md-block">
    <h1 class='mb-2'><%= @profile.name %></h1>
    <% @profile.styles.each do |style|%>
      <span class='badge <%= select_badge_color(style.id)%>'><%= style.name %></span>
    <%end%>
    <div class="d-flex flex-row">
      <h5 class='mb-2 mt-2 align-self-end pb-1'><%= icon("geo-alt-fill", class:"show-icon") %> <%= @profile.location %></h5>
      </div>
    <p><b>Set:</b> <%= @profile.playtime %></p>
    <p><b>Demos:</b></p> 
    <%= @profile.demolinks %>
    <p><b>Bio:</b></p>
    <p class='mt-2'><%= @profile.bio %></p>
    <div class="mt-3 mb-3">
      <%if current_user.id != @profile.user_id %>
        <button class="btn btn-secondary" disabled>Message <%= @profile.name %></button>
      <% elsif !current_user %>
        <%= button_to "Login to team up with #{@profile.name} for a show!", new_user_session_path %>
      <% else %>
        <%= link_to "Edit", edit_profile_path(@profile.id), class: "btn btn-warning mr-3" %>
        <%= link_to "Delete", @profile, method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-danger mr-3" %>
      <%end%>
    </div>
  </div>
</div>

<% if current_user.id == @profile.user.id%>
  <h1 class='align-center'>My posted gigs:</h2>
  <div class='container'>
    <div class='row row-cols-sm-1 row-cols-md-2 row-cols-lg-4'>
      <% @profile.user.gigs.each do |gig| %>
        <div class="col mb-4">
          <div class='card border-dark h-100'>
              <%= image_tag "placeholder_gig", alt: "placeholder poster image", class: "thumbnail card-img top" %>
            <div class='card-body'>
              <h5><%= gig.date.strftime("%d %b %Y") %> , <%= gig.venue %></h5>
              <h6 class='card-subtitle my-2 text-muted'>Added <%= time_ago_in_words(gig.created_at) %> ago</h6>
              <p class='card-text text-truncate'> Posted by <%= gig.user.profile.name%></p>
              <div class='d-flex flex-column justify-content-between'>
                <%= link_to "See more", gig_path(gig.id), class: "btn btn-outline-primary" %>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
<%end%>
<div class='container mb-4'>
  <div class='d-flex justify-content-center'>
    <%= link_to "Back", profiles_path, class: "btn btn-dark" %>
  </div>
</div>