<h1>Go on the bill!</h1>

<%= simple_form_for @request do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being processed:</h2>

      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :message, label: "Name of your act", wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.button :submit, label: "Request", class: "btn btn-dark ml-2"%>
<% end %>

<%= link_to 'Back', gig_path(@gig.id), class: "btn btn-info mx-2 my-2" %>