<div class="d-flex flex-row justify-content-around flex-wrap">
<div>
  <h1 class='hero-title text-center mb-5'>Sent requests</h1>
  <%if current_user.requests.present? %>
    <% @requested_gigs.each do |request| %>
      <div class="media request-card border-rad">
          <% if request.gig.image.attached? %>
            <%= image_tag request.gig.image, alt: "poster of the gig", class: "mr-3 request-card-img" %>
          <%else%>
            <%= image_tag "placeholder_gig", alt: "placeholder poster image", class: "mr-3 request-card-img" %>
          <% end %>
        <div class="media-body">
          <h5 class="mt-0"><%= link_to request.gig.user.profile.name, profile_path(request.gig.user.profile.id)%> on <%= request.gig.date.strftime("%d %b %Y") %> @ <%= request.gig.venue %></h5>
          <p>Status: <span class="badge badge-pill <%= select_badge_color(request.status) %>"> <%=request.status.capitalize%></span></p>
          <p><%= link_to "See more", gig_path(request.gig.id), class: "btn btn-outline-primary" %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="ml-3">You have no sent requests yet.</p>
  <%end%>
</div>
<div>
  <h1 class='hero-title text-center mb-5'>Received requests</h1>
  <%if @requests_received.present? %>
    <% @requests_received.each do |request| %>
      <div class="media request-card border-rad">
          <% if request.gig.image.attached? %>
            <%= image_tag request.gig.image, alt: "poster of the gig", class: "mr-3 request-card-img" %>
          <%else%>
            <%= image_tag "placeholder_gig", alt: "placeholder poster image", class: "mr-3 request-card-img" %>
          <% end %>
        <div class="media-body">
          <h5 class="mt-0"><%= link_to request.gig.user.profile.name, profile_path(request.gig.user.profile.id)%> on <%= request.gig.date.strftime("%d %b %Y") %> @ <%= request.gig.venue %></h5>
          <p>Status: <span class="badge badge-pill <%= select_badge_color(request.status) %>"> <%=request.status.capitalize%></span></p>
          <p><%= link_to "See more", gig_path(request.gig.id), class: "btn btn-outline-primary" %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="ml-3">You haven't received any requests yet.</p>
  <%end%>
</div>
</div>
 <%= link_to "Back to gigs", gigs_path, class: "btn btn-dark mx-3" %>