<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Your name">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Amount</label>
    <input type="number" class="form-control" id="amount" placeholder="Donation amount">
  </div>
 
  <button type="submit" class="btn btn-primary" data-stripe="payment" data-path=<%=new_stripe_session_path%> data-public-key=<%=Rails.application.credentials.dig(:stripe, :public_key)%>>Donate!</button>
</form>

<%= link_to 'Back', gigs_path, class: "btn btn-info mx-2 my-2" %>

<%= javascript_include_tag "https://js.stripe.com/v3/" %>
<%= javascript_pack_tag "stripe-button" %>