<%= simple_form_for @gig do |f| %>
  <% if gig.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(gig.errors.count, "error") %> prohibited this listing from being saved:</h3>

      <ul>
        <% gig.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :date, 
              as: :date, 
              start_year: Date.today.year,
              end_year: Date.today.year + 5,
              wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.input :time, 
              wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.input :venue, 
              wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.input :location, 
              wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.association :styles, 
              as: :check_boxes, 
              wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.input :description, 
              as: :text, 
              wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.association :features, 
              as: :check_boxes, 
              wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.association :musictype, 
              label: "Type of set", 
              label_method: :name,
              value_method: :id,
              include_blank: false,
              wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.input :set_length, 
              label: "Set length (min)", 
              collection: 25..120, wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.input :tickets_presale, 
              as: :currency, 
              wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.input :door_charge, 
              as: :currency, 
              wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.input :payment, 
              :collection => Gig.payments.keys, 
              as: :radio_buttons, 
              wrapper_html: {class: "form-group mb-3 ml-3"} %>
  <%= f.file_field :image, 
              as: :image, 
              input_html: { data: { direct_upload_url: :rails_direct_uploads_url } },
              wrapper_html: {class: "form-group mb-5 ml-3"} %>
  <%= f.button :submit,
              wrapper_html: {class: "btn btn-dark  mb-3 ml-3"}%>
<% end %>