<h1 class='hero-title text-center mb-5'>Gigs</h1>
<div class='container'>
  <div class='row row-cols-sm-1 row-cols-md-2 row-cols-lg-4'>
    <% @gigs.each do |gig| %>
      <div class="col mb-4">
        <div class='card h-100'>
          <% if gig.image.attached? %>
            <%= image_tag gig.image, alt: "poster of the gig", class: "thumbnail card-img top img-cut" %>
          <%else%>
            <%= image_tag "placeholder_gig", alt: "placeholder poster image", class: "thumbnail card-img top img-cut" %>
          <% end %>
          <div class='card-body'>
             <% if gig.filled%>
              <span class="d-flex badge badge-danger filled mx-auto mb-2">FILLED</span>
            <%else%>
               <span class="d-flex badge badge-danger available mx-auto mb-2">AVAILABLE</span>
            <% end %>
            <h5><%= gig.date.strftime("%d %b %Y") %></h5> 
            <h5><%= gig.venue %></h5>
            <div class="text-truncate">
              <% gig.styles.each do |style|%>
                <span class='badge <%= select_badge_color(style.id)%>'><%= style.name %></span>
              <%end%>
            </div>
            <h6 class='card-subtitle my-2 mute-text'>Added <%= time_ago_in_words(gig.created_at) %> ago</h6>
            <p class='card-text text-truncate'> Posted by <%= link_to gig.user.profile.name, profile_path(gig.user.profile.id)%></p>
            <div class='d-flex flex-column justify-content-between'>
              <%= link_to "See more", gig_path(gig.id), class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>