<% if @gig.filled%>
<span class="d-flex badge badge-danger filled mx-auto mb-2">FILLED</span>
<%end%>

<div class="container d-flex flex-column flex-md-row-reverse justify-content-center px-2 my-2 my-md-5">
  <div class="content col-12 col-md-7 col-lg-6 p-0 pr-md-3"> 
    <div class="col-9 p-0 main-preview mb-2">
       <% if @gig.image.attached? %>
          <%= image_tag @gig.image, alt: "poster of the gig", class: "thumbnail card-img top border-rad" %>
        <%else%>
          <%= image_tag "placeholder_gig", alt: "placeholder poster image", class: "thumbnail card-img top border-rad" %>
        <% end %>
    </div>
  </div>
  <div class="sidebar col-lg-4 p-0 mx-2 d-md-block">
    <h1 class='mb-2'><%= link_to @gig.user.profile.name, profile_path(@gig.user.profile.id) %> @ <%= @gig.venue.split.map(&:capitalize).join(' ')%></h1>
    <% @gig.styles.each do |style|%>
      <span class='badge <%= select_badge_color(style.id)%>'><%= style.name %></span>
    <%end%>
    <h5 class="mute-text mt-2"> <%= @gig.date.strftime("%d %b %Y") %>, <%=@gig.time%></h5>
    <h5 class='location mb-2 pb-1 location'><%= icon("geo-alt-fill", class:"show-icon") %> <%= @gig.location.split.map(&:capitalize).join(' ') %></h5>
    <p><b>Looking for:</b> <%= @gig.musictype.name %>, <%= @gig.set_length %> min</p>
    <% if @gig.door_charge %>
      <p><b>Door charge:</b> $<%= @gig.door_charge.round %></p>
    <% end %>
    <% if @gig.tickets_presale %>
      <p><b>Presale tickets:</b> $<%= @gig.tickets_presale %></p>
    <% end %>
    <p><b>Payment:</b> <%= @gig.payment %></p>
    <p><b>Description:</b></p>
    <p class='mt-2'><%= @gig.description %></p>
    <div class="mt-3 mb-3">
      <%if !current_user && @gig.filled == false%>
        <%= button_to "Login to go on the bill", new_user_session_path %>
      <%elsif current_user.id != @gig.user_id && !@gig.filled%>
       <%= button_to "Request to join", new_request_path  %>
      <%elsif !current_user && @gig.filled == false%>
        <%= button_to "Login to go on the bill", new_user_session_path %>
      <%end%>
    </div>
  </div>
</div>
<div class='container mb-4'>
  <div class='d-flex justify-content-center'>
    <%= link_to "Edit", edit_gig_path(@gig.id), class: "btn btn-custom mr-3" if can? :update, @gig  %>
    <%= link_to "Delete", @gig, method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-danger mr-3" if can? :destroy, @gig  %>
    <%= link_to "Back", gigs_path, class: "btn" %>
  </div>
</div>